
<form action="/user/signup" method="POST">
    userid <input text name="userid" id="userid" ></inputtext>
   password <input text name="password" id="password" ></inputtext>
   email <input text name="email" id="email" ></inputtext>
  organization <input text name="organization" id="organization" ></inputtext>
  <input type="Sign Up" value="Save"/>
  </form>

