<div class="tag">
  <form action="/" method="POST">
    <textarea name="tag_body" id="tag_body" rows="2"></textarea>
    <br/><input type="submit" value="Save"/>
  </form>

  <%= @sessions  %>


</div>