<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Free Speech Movement (FSM) Digital Archives</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="stylesheets/base.css">
  <link rel="stylesheet" href="stylesheets/skeleton.css">
  <link rel="stylesheet" href="stylesheets/layout.css">
  <link rel="stylesheet" href="stylesheets/supplement.css">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>
<body>
   
    <%= yield %>




    
  <footer class="container footer">
    <div class="sixteen columns">
      <p>The Free Speech Movement (FSM) Digital Archives document the role of Mario Savio and other participants in the Free Speech Movement (University of California, Berkeley, September&ndash;December 1964), as well as its origins in political protest and civil rights movements and its legacy of political activism and educational reform that can be traced throughout the country and the world down to the present.</p>
      <p>Copyright &copy; 2014 The Regents of the University of California.</p>
      <p>All rights reserved. Document maintained by <a href="http://bancroft.berkeley.edu/comment_form.html">The Bancroft Library</a>.</p>
      <p>Last updated 2014-04-08. Server manager: <a href="http://www.lib.berkeley.edu/Comments/">Contact</a></p>
      <p>This website was developed using <a href="http://davegamache.com/">Dave Gamache</a>'s <a href="http://www.getskeleton.com/">Skeleton</a> boilerplate, in combination with <a href="http://www.jakehartnell.com/">Jake Hartnell</a>'s <a href="https://github.com/RawKStar77/annotator">annotator</a>; both used under the terms of the open-source <a href="http://www.opensource.org/licenses/mit-license.php">MIT license</a>. Typefaces include <a href="http://www.google.com/fonts/specimen/Open+Sans">Opens Sans</a>, created by <a href="https://profiles.google.com/107777320916704234605/about">Steve Matteson</a> and <a href="https://www.google.com/fonts/specimen/Special+Elite">Special Elite</a>, created by <a href="https://plus.google.com/110671794147246487935/about">Brian J. Bonislawsky</a>, both used under the terms of the open-source <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License, version 2.0</a>; as well as <a href="http://www.dafont.com/edo.font">Edo SZ</a>, created by <a href="http://www.vicfieger.com/fonts/">Vic Fieger</a>, provided free by the author.</p>
    </div>
  </footer>

<!-- End Document
================================================== -->
</body>
</html>
</html>