
<form action="/user/signup" method="POST">
   username <input text name="user[username]" id="userid" ></input text> <br>
   password <input text name="user[password]" input type="password" id="password" ></input text> <br>
   email <input text name="user[email]" id="email" ></input text> <br> 
  organization <input text name="user[organization]" id="organization" ></input text> <br>
  <input type="submit" value="Sign Up!"/>
  </form>


</form>





