
	<!-- Primary Page Layout
	================================================== -->

	<header class="container header">
		<div class="two-thirds column">
			<form action="/" method="POST">
   		 <input text name="search" id="search"  label style="font-size:25pt" ></input text>
   		  <label for="search">search</label>
   		<input type="submit" value="search" style="font-size:20pt;"/>
  				</form>

				<!-- Wrap checkbox/radio button groups in fieldsets -->
				<fieldset>
					<!-- Give the fieldset a label -->
					<!-- <label for=""></label> -->
					<!-- Wrap each checkbox in a label, then give it the input and span for the text option -->
					<label for="fsmCircularsCheckbox" title="fliers (printed matter), leaflets, pamphlets">
						<input type="checkbox" id="fsmCircularsCheckbox" value="circulars" />
						<span>circulars</span>
					</label>
					<label for="fsmCommentaryCheckbox" title="group statements, oral histories, personal statement, personal statements">
						<input type="checkbox" id="fsmCommentaryCheckbox" value="commentary" />
						<span>commentary</span>
					</label>
					<label for="fsmCorrespondenceCheckbox" title="form letters, letters (correspondence)" >
						<input type="checkbox" id="fsmCorrespondenceCheckbox" value="correspondence" />
						<span>correspondence</span>
					</label>
					<label for="fsmDocumentsCheckbox" title="papers (document genres), tables of content, text, title pages">
						<input type="checkbox" id="fsmDocumentsCheckbox" value="texts" />
						<span>documents</span>
					</label>
					<label for="fsmImagesCheckbox" title="still image">
						<input type="checkbox" id="fsmImagesCheckbox" value="images" />
						<span>images</span>
					</label>
					<label for="fsmPeriodicalsCheckbox" title="articles, magazines (periodicals), news bulletins, newsletters, newspapers">
						<input type="checkbox" id="fsmPeriodicalsCheckbox" value="periodicals" />
						<span>periodicals</span>
					</label>
					<label for="fsmReportsCheckbox" title="agendas, briefs (legal documents), memorandums, minutes, transcripts, progress reports, reports">
						<input type="checkbox" id="fsmReportsCheckbox" value="reports" />
						<span>reports</span>
					</label>
					<label for="fsmMiscellaneousCheckbox" title="detail, fdr, folder, item, miscellaneous">
						<input type="checkbox" id="fsmMiscellaneousCheckbox" value="miscellaneous" />
						<span>miscellaneous</span>
					</label>
				</fieldset>
			</form>
		</div>
		<div class="one-third column">
			<a href="#" title="&ldquo;I am a UC student. Please don't bend, fold, spindle or mutilate me.&rdquo;">
				<img src="images/FSM_logo.png" alt="FSM"></a>
			<h2>Digital Archive</h2>
		</div>
	</header>
<article class="container article splash">
		<div class="sixteen columns">
			<img src="http://www.fsm-a.org/images/1964%2011-20%20Free%20Speech%2020pct.jpg" alt="FSM">
			<p>In September 1964 the University of California administration abruptly banned political advocacy at Berkeley's traditional student free speech area at the campus' main entrance on Bancroft Way and Telegraph Avenue. Students viewed the ban as part of the backlash against their participation in the Bay area civil rights movement, especially the sit-ins against racially discriminatory employers, which had made headlines and upset powerful conservatives in the state legislature and the press. A broad coalition of students&mdash;from Goldwater Republicans to socialists&mdash;sought to negotiate an end to the ban. When negotiations failed mass protest erupted and a semester-long struggle for free speech ensued, which after a non-violent police car blockade, a march on the Regents meeting, a mass sit-in and mass arrest at the administration building, and a student/TA strike triumphed as Berkeley's faculty in its Academic Senate voted by a 7-1 margin on December 8, 1964 to back the Free Speech Movement's demand for an end all campus restrictions on the content of political speech.</p>
		</div>
	</article>


